<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <!-- <div id="loader">
        <img class="w-full h-full object-cover" src="../images/image.png" alt="">
    </div> -->
    <div id="main">
        <!-- Page 1 -->
        <div id="page1 " class="relative">
            <!-- Navbar -->
            <nav class="flex items-center justify-between px-5 py-4 h-[10vh] w-full text-white absolute z-10">
                <!-- Logo -->
                <span class="icon--svg icon--svg mvl-animated-logo" aria-hidden="true"><svg width="130" height="52"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <rect fill="#EC1D24" width="100%" height="100%"></rect>
                        <path fill="#FEFEFE"
                            d="M126.222 40.059v7.906H111.58V4h7.885v36.059h6.757zm-62.564-14.5c-.61.294-1.248.44-1.87.442v-14.14h.04c.622-.005 5.264.184 5.264 6.993 0 3.559-1.58 5.804-3.434 6.705zM40.55 34.24l2.183-18.799 2.265 18.799H40.55zm69.655-22.215V4.007H87.879l-3.675 26.779-3.63-26.78h-8.052l.901 7.15c-.928-1.832-4.224-7.15-11.48-7.15-.047-.002-8.06 0-8.06 0l-.031 39.032-5.868-39.031-10.545-.005-6.072 40.44.002-40.435H21.278L17.64 26.724 14.096 4.006H4v43.966h7.95V26.78l3.618 21.192h4.226l3.565-21.192v21.192h15.327l.928-6.762h6.17l.927 6.762 15.047.008h.01v-.008h.02V33.702l1.845-.27 3.817 14.55h7.784l-.002-.01h.022l-5.011-17.048c2.538-1.88 5.406-6.644 4.643-11.203v-.002C74.894 19.777 79.615 48 79.615 48l9.256-.027 6.327-39.85v39.85h15.007v-7.908h-7.124v-10.08h7.124v-8.03h-7.124v-9.931h7.124z">
                        </path>
                        <path fill="#EC1D24" d="M0 0h30v52H0z"></path>
                        <path fill="#FEFEFE"
                            d="M31.5 48V4H21.291l-3.64 22.735L14.102 4H4v44h8V26.792L15.577 48h4.229l3.568-21.208V48z">
                        </path>
                    </svg>
                </span>
                <!-- All the NavElements -->
                <div class="flex items-center gap-9">
                    <a class="capitalize text-lg font-semibold tracking-tight" href="/">Home</a>
                    <a class="capitalize text-lg font-semibold tracking-tight" href="#">Comics</a>
                    <a class="capitalize text-lg font-semibold tracking-tight" href="/character">Characters</a>
                    <a class="capitalize text-lg font-semibold tracking-tight" href="#">Movies</a>
                    <a class="capitalize text-lg font-semibold tracking-tight" href="#">Games</a>
                    <a class="capitalize text-lg font-semibold tracking-tight mr-9" href="">TV Shows</a>
                </div>
            </nav>

            <!-- Swiper In Page 1 -->
            <div class=" swiperJS w-full h-[100vh] ">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide bg-zinc-100">
                            <img src="https://wallpaperset.com/w/full/0/d/1/465569.jpg" alt="">
                        </div>
                        <div class="swiper-slide bg-zinc-100">
                            <img src="https://wallpaperaccess.com/full/735258.jpg" alt="">
                        </div>

                        <div class="swiper-slide bg-zinc-100">
                            <video muted loop autoplay src="../videos/BlackPanther.mp4"></video>
                        </div>
                        <div class="swiper-slide bg-zinc-100">
                            <img src="https://wallpaperset.com/w/full/1/5/6/183993.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page 2 -->
        <div id="page2" class="w-full h-[170vh] flex flex-col items-center relative  ">

            <!-- Marvel Studios Text Animations -->
            <div class="marvelStudios gap-4 flex h-52 w-fit justify-center items-center absolute top-5 z-10 ">

                <!-- Marvel Logo -->
                <svg width="130" height="52" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <rect fill="#EC1D24" width="100%" height="100%"></rect>
                    <path fill="#FEFEFE"
                        d="M126.222 40.059v7.906H111.58V4h7.885v36.059h6.757zm-62.564-14.5c-.61.294-1.248.44-1.87.442v-14.14h.04c.622-.005 5.264.184 5.264 6.993 0 3.559-1.58 5.804-3.434 6.705zM40.55 34.24l2.183-18.799 2.265 18.799H40.55zm69.655-22.215V4.007H87.879l-3.675 26.779-3.63-26.78h-8.052l.901 7.15c-.928-1.832-4.224-7.15-11.48-7.15-.047-.002-8.06 0-8.06 0l-.031 39.032-5.868-39.031-10.545-.005-6.072 40.44.002-40.435H21.278L17.64 26.724 14.096 4.006H4v43.966h7.95V26.78l3.618 21.192h4.226l3.565-21.192v21.192h15.327l.928-6.762h6.17l.927 6.762 15.047.008h.01v-.008h.02V33.702l1.845-.27 3.817 14.55h7.784l-.002-.01h.022l-5.011-17.048c2.538-1.88 5.406-6.644 4.643-11.203v-.002C74.894 19.777 79.615 48 79.615 48l9.256-.027 6.327-39.85v39.85h15.007v-7.908h-7.124v-10.08h7.124v-8.03h-7.124v-9.931h7.124z">
                    </path>
                    <path fill="#EC1D24" d="M0 0h30v52H0z"></path>
                    <path fill="#FEFEFE"
                        d="M31.5 48V4H21.291l-3.64 22.735L14.102 4H4v44h8V26.792L15.577 48h4.229l3.568-21.208V48z">
                    </path>
                </svg>

                <!-- Invisible Video -->
                <video autoplay muted loop class="w-80 h-40 rounded-md object-cover" src="../videos/marvel.mp4"></video>

                <!-- Studios Text -->
                <h1 class="leading-loose text-5xl text-white ">Studios</h1>
            </div>

            <!-- The First Row -->
            <div class="firstRow w-full h-[170vh] bg-black relative">
                <!-- Left Down Video -->

                <div class="firstleft ">

                    <video
                        class="firstleftvideo ml-10 rounded-lg bg-red-200 absolute bottom-20 z-10 h-[60vh] object-cover w-[40vw]"
                        autoplay loop muted src="../videos/firstLeft.mp4">
                        <div id="over-lay" style="text-align: center;
                        z-index: 20; 
                        color: white; "></div>
                    </video>
                </div>

                <!-- Right Top Video -->
                <div class="firstright ">
                    <video
                        class="firstRightvideo mr-10 rounded-lg bg-red-200 absolute top-[20%] right-0 z-10 object-cover w-[40vw] h-[50vh] "
                        autoplay loop muted src="../videos/firstRight.mp4"></video>
                </div>
            </div>

        </div>

        <!-- Page-3 -->
        <div id="page3" class="w-full h-[130vh] bg-black mt-[0.1px] pt-10 flex flex-col items-center">
            <!-- Marquee Effect (Logo) -->
            <div id="marque" class="flex items-center justify-center gap-10 shrink-0 h-[10vh] w-full mb-10">
                <!-- adding the logoImages from the JS named "YO" -->
            </div>


            <!--Evolution of Marvel  -->
            <h1 class="w-full inline-block text-white text-center mb-10 mt-20 text-3xl font-bold ">Evolution of Marvel
            </h1>

            <div class="element flex relative w-full h-[60vh] ">
                <div id="page3-left" class="w-[30%] flex items-center justify-center flex-col gap-3 mt-5 text-white absolute top-0  left-10 ">

                    <img class="w-[130px] h-[130px] object-contain invert"
                        src="https://1000logos.net/wp-content/uploads/2021/06/Marvel-Comics-Logo-1963-500x281.png"
                        alt="">

                    <img class="w-[130px] h-[130px] object-contain invert "
                        src="https://1000logos.net/wp-content/uploads/2021/06/Marvel-Comics-Logo-1983-500x281.png"
                        alt="">

                    <img class="w-[130px] h-[130px] object-contain  "
                        src="https://1000logos.net/wp-content/uploads/2021/06/Marvel-Comics-logo-500x281.jpg" alt="">

                    <img class="w-[130px] h-[130px] object-contain  "
                        src="https://imgs.search.brave.com/Dwt8EJVvcZgfKcQWNTrhuSBK5A8yq29F81O5UvS13-A/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzdjLzRm/L2NjLzdjNGZjY2Ez/YmUwZjY0OTEyMThm/MDczNjA2MTA2MjYw/LmpwZw"
                        alt="">

                </div>

                <!-- Cursor Follower -->
                <div id="page3-right" class="w-1/2 absolute top-0 right-10 ">
                    <div class="right-elem" id="right-elem1">
                        <h2 class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing. <br> Lorem, ipsum.
                        </h2>
                        <img src="https://i.pinimg.com/564x/e5/dc/07/e5dc07105ef10c7dc1cd7f858bb0c353.jpg" alt="">
                    </div>
                    <div class="right-elem">
                        <h2 class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing. <br> Lorem, ipsum.
                        </h2>
                        <img src="https://i.pinimg.com/564x/e5/dc/07/e5dc07105ef10c7dc1cd7f858bb0c353.jpg" alt="">
                    </div>
                    <div class="right-elem">
                        <h2 class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing. <br> Lorem, ipsum.
                        </h2>
                        <img src="https://i.pinimg.com/564x/e5/dc/07/e5dc07105ef10c7dc1cd7f858bb0c353.jpg" alt="">
                    </div>
                    <div class="right-elem">
                        <h2 class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing. <br> Lorem, ipsum.
                        </h2>
                        <img src="https://i.pinimg.com/564x/e5/dc/07/e5dc07105ef10c7dc1cd7f858bb0c353.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="page4" class="w-full h-screen"></div>
    </div>

    <!-- Locomotive CDN -->
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>

    <!-- GSAP CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Scroll Trigger CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- SwiperJS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../javascripts/script.js"></script>
   
</body>

</html>