<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <!-- <div id="loader">
        <img class="w-full h-full object-cover" src="../images/image.png" alt="">
    </div> -->
    <div id="main">
        <!-- Page 1 -->
        <div id="page1 " class="relative">
            <!-- Navbar -->
            <nav class="flex items-center justify-between px-5 py-4 h-[10vh] w-full text-white absolute z-10">
                <!-- Logo -->
                <span class="icon--svg icon--svg mvl-animated-logo" aria-hidden="true"><svg width="130" height="52"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <rect fill="#EC1D24" width="100%" height="100%"></rect>
                        <path fill="#FEFEFE"
                            d="M126.222 40.059v7.906H111.58V4h7.885v36.059h6.757zm-62.564-14.5c-.61.294-1.248.44-1.87.442v-14.14h.04c.622-.005 5.264.184 5.264 6.993 0 3.559-1.58 5.804-3.434 6.705zM40.55 34.24l2.183-18.799 2.265 18.799H40.55zm69.655-22.215V4.007H87.879l-3.675 26.779-3.63-26.78h-8.052l.901 7.15c-.928-1.832-4.224-7.15-11.48-7.15-.047-.002-8.06 0-8.06 0l-.031 39.032-5.868-39.031-10.545-.005-6.072 40.44.002-40.435H21.278L17.64 26.724 14.096 4.006H4v43.966h7.95V26.78l3.618 21.192h4.226l3.565-21.192v21.192h15.327l.928-6.762h6.17l.927 6.762 15.047.008h.01v-.008h.02V33.702l1.845-.27 3.817 14.55h7.784l-.002-.01h.022l-5.011-17.048c2.538-1.88 5.406-6.644 4.643-11.203v-.002C74.894 19.777 79.615 48 79.615 48l9.256-.027 6.327-39.85v39.85h15.007v-7.908h-7.124v-10.08h7.124v-8.03h-7.124v-9.931h7.124z">
                        </path>
                        <path fill="#EC1D24" d="M0 0h30v52H0z"></path>
                        <path fill="#FEFEFE"
                            d="M31.5 48V4H21.291l-3.64 22.735L14.102 4H4v44h8V26.792L15.577 48h4.229l3.568-21.208V48z">
                        </path>
                    </svg>
                </span>
                <!-- All the NavElements -->
                <div class="flex items-center gap-9">
                    <a class="capitalize text-lg font-semibold tracking-tight" href="/">Home</a>
                    <a class="capitalize text-lg font-semibold tracking-tight" href="#">Comics</a>
                    <a class="capitalize text-lg font-semibold tracking-tight" href="/character">Characters</a>
                    <a class="capitalize text-lg font-semibold tracking-tight" href="#">Movies</a>
                    <a class="capitalize text-lg font-semibold tracking-tight" href="#">Games</a>
                    <a class="capitalize text-lg font-semibold tracking-tight mr-9" href="">TV Shows</a>
                </div>
            </nav>

            <!-- Swiper In Page 1 -->
            <div class=" swiperJS w-full h-[100vh] ">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide bg-zinc-100">
                            <img src="https://wallpaperset.com/w/full/0/d/1/465569.jpg" alt="">
                        </div>
                        <div class="swiper-slide bg-zinc-100">
                            <img src="https://wallpaperaccess.com/full/735258.jpg" alt="">
                        </div>

                        <div class="swiper-slide bg-zinc-100">
                            <video muted loop autoplay src="../videos/BlackPanther.mp4"></video>
                        </div>
                        <div class="swiper-slide bg-zinc-100">
                            <img src="https://wallpaperset.com/w/full/1/5/6/183993.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page 2 -->
        <div id="page2" class="w-full h-[170vh] flex flex-col items-center relative  ">

            <!-- Marvel Studios Text Animations -->
            <div class="marvelStudios gap-4 flex h-52 w-fit justify-center items-center absolute top-5 z-10 ">

                <!-- Marvel Logo -->
                <svg width="130" height="52" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <rect fill="#EC1D24" width="100%" height="100%"></rect>
                    <path fill="#FEFEFE"
                        d="M126.222 40.059v7.906H111.58V4h7.885v36.059h6.757zm-62.564-14.5c-.61.294-1.248.44-1.87.442v-14.14h.04c.622-.005 5.264.184 5.264 6.993 0 3.559-1.58 5.804-3.434 6.705zM40.55 34.24l2.183-18.799 2.265 18.799H40.55zm69.655-22.215V4.007H87.879l-3.675 26.779-3.63-26.78h-8.052l.901 7.15c-.928-1.832-4.224-7.15-11.48-7.15-.047-.002-8.06 0-8.06 0l-.031 39.032-5.868-39.031-10.545-.005-6.072 40.44.002-40.435H21.278L17.64 26.724 14.096 4.006H4v43.966h7.95V26.78l3.618 21.192h4.226l3.565-21.192v21.192h15.327l.928-6.762h6.17l.927 6.762 15.047.008h.01v-.008h.02V33.702l1.845-.27 3.817 14.55h7.784l-.002-.01h.022l-5.011-17.048c2.538-1.88 5.406-6.644 4.643-11.203v-.002C74.894 19.777 79.615 48 79.615 48l9.256-.027 6.327-39.85v39.85h15.007v-7.908h-7.124v-10.08h7.124v-8.03h-7.124v-9.931h7.124z">
                    </path>
                    <path fill="#EC1D24" d="M0 0h30v52H0z"></path>
                    <path fill="#FEFEFE"
                        d="M31.5 48V4H21.291l-3.64 22.735L14.102 4H4v44h8V26.792L15.577 48h4.229l3.568-21.208V48z">
                    </path>
                </svg>

                <!-- Invisible Video -->
                <video autoplay muted loop class="w-80 h-40 rounded-md object-cover" src="../videos/marvel.mp4"></video>

                <!-- Studios Text -->
                <h1 class="leading-loose text-5xl text-white ">Studios</h1>
            </div>

            <!-- The First Row -->
            <div class="firstRow w-full h-[170vh] bg-black relative">
                <!-- Left Down Video -->
                <div class="firstleft ">

                    <video
                        class="firstleftvideo ml-10 rounded-lg bg-red-200 absolute bottom-20 z-10 h-[60vh] object-cover w-[40vw]"
                        autoplay loop muted src="../videos/firstLeft.mp4">
                        <div id="over-lay" style="text-align: center;
                        z-index: 20; 
                        color: white; "></div>
                    </video>
                </div>

                    <!-- Right Top Video -->
                <div class="firstright bg-red-200 ">
                    <video
                        class="firstRightvideo mr-10 rounded-lg bg-red-200 absolute top-[20%] right-0 z-10 object-cover w-[40vw] h-[50vh] "
                        autoplay loop muted src="../videos/firstRight.mp4"></video>
                </div>
            </div>

        </div>

        <!-- Page-3 -->
        <div id="page3" class="w-full h-screen bg-black mb-5 flex flex-col items-center">
            <!-- Marquee Effect (Logo) -->
            <div id="marque" class="flex items-center justify-center gap-10 shrink-0  h-[10vh] w-full bg-zinc-100" >
                <!-- adding the logoImages from the JS named "YO" -->
            </div>
        </div>
    </div>

    <!-- Locomotive CDN -->
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>

    <!-- GSAP CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Scroll Trigger CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- SwiperJS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var tl = gsap.timeline()

        function Locomotive() {
            gsap.registerPlugin(ScrollTrigger);
            const locoScroll = new LocomotiveScroll({
                el: document.querySelector("#main"),
                smooth: true,

                // for tablet smooth
                tablet: { smooth: true },

                // for mobile
                smartphone: { smooth: true }
            });
            locoScroll.on("scroll", ScrollTrigger.update);

            ScrollTrigger.scrollerProxy("#main", {
                scrollTop(value) {
                    return arguments.length
                        ? locoScroll.scrollTo(value, 0, 0)
                        : locoScroll.scroll.instance.scroll.y;
                },
                getBoundingClientRect() {
                    return {
                        top: 0,
                        left: 0,
                        width: window.innerWidth,
                        height: window.innerHeight
                    };
                }
            });

        }
        Locomotive()
        function time() {
            var a = 0;
            const loadingVal = setInterval(() => {
                a = a + Math.floor(Math.random() * 15);
                if (a < 100) {
                }
                else {
                    a = 100;
                    clearInterval(loadingVal);
                }
            }, 100);
        }
        function loader() {
            tl.to("#loader h1", {
                delay: 1,
                duration: 1,
                onStart: time()
            })
            tl.to("#loader", {
                top: "-100vh",
            })
        }
        loader();

        document.querySelector('video').playbackRate = 6;

        // Swiper.JS 
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 1,
            centeredSlides: true,
            autoplay: {
                delay: 4500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });


        document.querySelector('.marvelStudios').addEventListener('mouseover', function () {
            console.log('moveover');
            document.querySelector('.marvelStudios video').style.display = 'initial';
            document.querySelector('.marvelStudios video').style.transition = 'opacity 0.3s ease';
            document.querySelector('.marvelStudios video').style.opacity = '1';
        });
        document.querySelector('.marvelStudios').addEventListener('mouseleave', function () {
            console.log('moveover');
            document.querySelector('.marvelStudios video').style.display = 'none';

            document.querySelector('.marvelStudios video').style.transition = 'opacity 0.3s ease';
        });
        const firstLeftVideo = document.querySelector('.firstleftvideo');
        firstLeftVideo.pause();

        document.querySelector('.firstleft').addEventListener('mouseover', () => {

            gsap.to('.firstleft', {

                opacity: 1,
                duration: 1,
                ease: "power2.out",
                onStart: () => {
                    let hover_msg = document.getElementById("over-lay");
                    hover_msg.innerText = "";
                }

            })
            firstLeftVideo.play();
        });
        document.querySelector('.firstleft').addEventListener('mouseleave', () => {
            gsap.to('.firstleft', {
                opacity: 0.5,
                duration: 1,
                ease: "power2.out",
                onComplete: ()=>{
                    let hover_msg = document.getElementById("over-lay");
                    hover_msg.innerText = "Hover me see magic!!";
                }

            });

            firstLeftVideo.pause();
        });

        const videoElement = document.querySelector('.firstRightvideo');
        console.log("Clicked")
        videoElement.pause();
        document.querySelector('.firstright').addEventListener('mouseover', () => {
            gsap.to('.firstright', {

                opacity: 1,
                duration: 1,
                ease: "power2.out",
                onStart: () => {
                    let hover_msg = document.getElementById("over-lay");
                    hover_msg.innerText = "";
                }

            })
            videoElement.play();
        });
        document.querySelector('.firstright').addEventListener('mouseleave', () => {
            videoElement.pause();
            gsap.to('.firstright', {
                opacity: 0.5,
                duration: 1,
                ease: "power2.out",
                onComplete: ()=>{
                    let hover_msg = document.getElementById("over-lay");
                    hover_msg.innerText = "Hover me see magic!!";
                }

            });
        });


        let marqueeImages  = [
            {img:'https://i.pinimg.com/564x/37/08/02/37080265d180367f022559bb41ccd7bc.jpg'},
            {img:'https://i.pinimg.com/564x/b7/cb/81/b7cb81431848a619680a789f5a03a89c.jpg'},
            {img:'https://i.pinimg.com/564x/c9/fd/01/c9fd01c751bfd54fa146f8740c9071ca.jpg'},
            {img:'https://i.pinimg.com/564x/bf/90/d1/bf90d1d2446eab5d8a8a8ec7056270c4.jpg'},
            {img:'https://i.pinimg.com/564x/2a/97/65/2a9765f1326f4ec9a216fea4ed27f9ae.jpg'},
            {img:'https://i.pinimg.com/564x/4a/6b/0c/4a6b0c24428a6f9a47fcae777d15e52b.jpg'},
            {img:'https://i.pinimg.com/564x/47/5c/32/475c32fb4d438cdab2dfe01975320363.jpg'},
            {img:'https://i.pinimg.com/236x/61/29/58/612958f0a7c90ea7642e0cee5064a14a.jpg'},
            {img:'https://i.pinimg.com/564x/b2/e1/a9/b2e1a96121d617b6e12fe21e779594b4.jpg'},
            {img:'https://i.pinimg.com/564x/01/33/2d/01332d49c42df49cde186f8a602053b1.jpg'},
            {img:'https://i.pinimg.com/564x/ef/21/ca/ef21cafcece5966c96e56ae1df856c5b.jpg'},
            {img:'https://i.pinimg.com/564x/82/1c/ab/821cabfe0660072fa0c378c1ed78a9b4.jpg'},
            {img:'https://i.pinimg.com/564x/37/08/02/37080265d180367f022559bb41ccd7bc.jpg'},
            {img:'https://i.pinimg.com/564x/b7/cb/81/b7cb81431848a619680a789f5a03a89c.jpg'},
            {img:'https://i.pinimg.com/564x/c9/fd/01/c9fd01c751bfd54fa146f8740c9071ca.jpg'},
            {img:'https://i.pinimg.com/564x/bf/90/d1/bf90d1d2446eab5d8a8a8ec7056270c4.jpg'},
            {img:'https://i.pinimg.com/564x/2a/97/65/2a9765f1326f4ec9a216fea4ed27f9ae.jpg'},
            {img:'https://i.pinimg.com/564x/4a/6b/0c/4a6b0c24428a6f9a47fcae777d15e52b.jpg'},
            {img:'https://i.pinimg.com/564x/47/5c/32/475c32fb4d438cdab2dfe01975320363.jpg'},
            {img:'https://i.pinimg.com/236x/61/29/58/612958f0a7c90ea7642e0cee5064a14a.jpg'},
            {img:'https://i.pinimg.com/564x/b2/e1/a9/b2e1a96121d617b6e12fe21e779594b4.jpg'},
            {img:'https://i.pinimg.com/564x/01/33/2d/01332d49c42df49cde186f8a602053b1.jpg'},
            {img:'https://i.pinimg.com/564x/ef/21/ca/ef21cafcece5966c96e56ae1df856c5b.jpg'},
            {img:'https://i.pinimg.com/564x/82/1c/ab/821cabfe0660072fa0c378c1ed78a9b4.jpg'},
        ]

        let yo = '';
       marqueeImages.forEach(item=>{
            yo += `<img class='rounded-full h-full w-full object-cover' src="${item.img}" alt="">`
        })
        document.querySelector('#marque').innerHTML =`<div class="marquee-content rounded-full  ">${yo}</div>`;;


    </script>
</body>

</html>