*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'gilroy';
}

html, body {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#loader{
  height: 100vh;
  width: 100%;
  position: fixed;
 z-index:999;
}


.marvelStudios video{
  display: none;
  opacity: 0;
}
#marque {
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.marquee-content {
  display: flex;
  gap: 5vw;
  animation: marquee 10s linear infinite;
}

.marquee-content img {
  display: inline-block;
  height: 80px; 
  width: 80px; 
  object-fit: cover;
  border-radius: 50%;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-70% - 5vw));
  }
}

#marque::-webkit-scrollbar {
  background-color: transparent;
}


.right-elem {
  position: relative;
  padding-top: 2vw;
  padding-bottom: 3vw;
  border-bottom: 1px solid #333;
}

.right-elem h2 {
  font-size: 1.4vw;
  font-weight: 400;
}

.right-elem img {
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  scale: 0;
}

